body{
  background-color: rgb(161, 161, 161);
  margin:0;
  padding: 0;
  height: 100vh;
}
#root{
  height: 100vh;
  margin:0;
}
.App{
  height: 100vh;
  margin:0;
}
/*-------------------------------------------------------------------*/
.header{
  background-color: whitesmoke;
  height: 20%;
  border-bottom-style: solid;
  border-bottom-width:0.1rem ;
}
  .titleHomeLink{
    position: absolute;
    left: 0%;
    background-color: red;
    width: 40%;
    height: 15%;
    margin: 1%;

  }
  .loginWindow{
    position: absolute;
    right: 0%;
    background-color: white;
    width: 20%;
    height: 15%;
    margin: 1%;
    padding: 0;
  }
    .loginWindow h3{
      margin: 0;

    }
    .loginWindow button{
      position: absolute;
      right: 2%;
    }
    .loginWindow form{
      position: absolute;
      display: flex;
      flex-direction: column;


    }
    .loginWindow form input{
      margin:2%;

    }

/*-------------------------------------------------------------------*/
.container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  
  
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
  .articleWindow{
    order: 2;


    background-color: white;
    border:solid;
    border-width: 0.1rem;
    height: 100%;
    width: 50%;
    margin: 1%;
    padding: 1%;

    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1% 1%;


  }
    .article{
      border:solid;
      border-width: 0.1rem;
      background-color: white;

      align-self: stretch;
      justify-self: stretch;
      position: relative;
    }

      .article > h3{
        position: absolute;
        right:0;
        bottom: 0;
        margin:0;
        padding: 0;

      }
      .article > h4{
        margin: 0;
      }

      .article > #stock{
        font-size: 0.8rem;
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
      }

  .sidebarLeftSearch{
    order: 1;


    background-color: white;
    border:solid;
    border-width: 0.1rem;

    height: 70%;
    width: 20%;
    margin:0.5%;
  }
  .sidebarRightAdds{
    order: 3;


    background-color: white;
    border: solid;
    border-width: 0.1rem;

    height: 100%;
    width: 20%;
    margin:0.5%;

  }