body{
  background-color: rgb(161, 161, 161);
  margin:0;
  padding: 0;
  height: 100vh;
}
#root{
  height: 100vh;
  margin:0;
}
.App{
  height: 100vh;
  margin:0;
}
/*-------------------------------------------------------------------*/
.header{
  background-color: whitesmoke;
  height: 20%;
  border-bottom-style: solid;
  border-bottom-width:0.1rem ;
}
  #titleHomeLink{
    position: absolute;
    left: 0%;
    background-color: red;
    width: 40%;
    height: 15%;
    margin: 1%;

  }
  #loginWindow{
    position: absolute;
    right: 0%;
    background-color: white;
    width: 20%;
    height: 15%;
    margin: 1%;
  }
/*-------------------------------------------------------------------*/
.container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  
  
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
  .articleWindow{
    order: 2;


    background-color: white;
    border:solid;
    border-width: 0.1rem;
    height: 100%;
    width: 45%;
    margin: 1%;
    padding: 1%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    

  }
    .article{
      border:solid;
      border-width: 0.1rem;
      background-color: white;
      width: 23%;
      margin:0.1%;
    }
  .sidebarLeftSearch{
    order: 1;


    background-color: white;
    border:solid;
    border-width: 0.1rem;

    height: 70%;
    width: 23%;
    margin:0.5%;
  }
  .sidebarRightAdds{
    order: 3;


    background-color: white;
    border: solid;
    border-width: 0.1rem;

    height: 100%;
    width: 23%;
    margin:0.5%;

  }